.App {
  text-align: center;
}

body {
  background-image: url(../src/images/background.png);
  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

header {
  display: flex;
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-size: 100px;
  line-height: 150px;
  line-height: 150%;
  vertical-align: top;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgba(24, 26, 37, 0.5) 1px;
  border-radius: 17px;
  height: 98px;
  opacity: 100%;
  box-sizing: border-box;
  background: rgba(24, 26, 37, 0.5);
  font-weight: 500;
  font-size: 50px;
  line-height: 150%;  
  font-family: 'Epilogue', sans-serif;
}

.solar {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  align-items: baseline;
  justify-content: center;
}

.planetas {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  font-family: 'Epilogue', sans-serif;
  align-items: center;
  justify-content: space-between;
}

.Mercúrio {
  width: 41px;

}

.Vênus {
  width: 102px;
}

.Terra {
  width: 106px;
}

.Marte {
  width: 66px;
}

.Júpiter {
  width: 272px;
}

.Saturno {
  width: 282.41px;
  transform: rotate(-16.53deg);
}

.Urano {
  width: 144px;
}

.Netuno {
  width: 144px;
}

.mission-cointainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.individual-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
  font-family: 'Epilogue', sans-serif;
  align-items: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 60px;
}

.select-name {
  width: 301px;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  letter-spacing: -0.04em;
}

hr {
  border: 1px solid #FFFFFF;
  width: 99%;
}